.add-note-button {
    margin-right: 15px;
}

.add-note-button button {
    padding: 10px 20px;
    background-color: rgb(2, 7, 21);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.add-note-button button:hover {
    background-color: #293B57;
}