.note-search {
    margin-bottom: 20px;
}

.note-search input[type="text"] {
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto;
    /* 수평 가운데 정렬 */
    display: block;
    /* 블록 요소로 설정하여 가운데 정렬을 적용합니다 */
}

.note-search button:hover {
    background-color: #c82333;
}